  <header>
    <div class="icon__menu">
      <i class="fas fa-bars" id="btn_open" (click)="effectSidebar()"></i>
    </div>
      <div class="container-fluid text-cee">
        <div class="row">
        <div class="container-fluid text-center col">
          <div class="row">
            <div class="col-2">
              <select class="form-select" aria-label="Default select example">
                <option selected disabled>Facultad</option>
                <option value="1">FIA</option>
                <option value="2">FCE</option>
                <option value="3">FCS</option>
                <option value="3">FACTEO</option>
                <option value="3">FACIHED</option>
              </select>
            </div>
            <div class="col-2">
              <select class="form-select" aria-label="Default select example">
                <option selected disabled>Escuela</option>
                <option value="1">Ing. de sistemas</option>
                <option value="2">Ing. de industrias alimentarias</option>
                <option value="3">Ing. ambiental</option>
                <option value="3">Ing. civil</option>
                <option value="3">Arquitecura</option>
              </select>
            </div>
            <div class="col-2">
              <select class="form-select" aria-label="Default select example">
                <option selected disabled>Semestre</option>
                <option value="1">2023-2</option>
                <option value="2">2023-1</option>
                <option value="3">2022-2</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-4">
          <!-- Buscador -->
          <input type="text" class="form-control" placeholder="Buscar...">
        </div>
      </div>
    </div>
  </header>
