<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Vinculación con el medio</a>
  </div>
</nav>
<div class="container-sm py-5">
  <div class="list-group">
    <a class="list-group-item list-group-item-action list-group-item-secondary text-center" aria-current="true" [routerLink]="['/vinculacion/home-coordinacion']">
      <p class="mb-1"> Coordinación </p>
    </a>
    <a class="list-group-item list-group-item-action text-center" aria-current="true" [routerLink]="['/vinculacion/home-proyeccion']">
      <p class="mb-1"> Proyecciones </p>
    </a>
    <a class="list-group-item list-group-item-action list-group-item-secondary text-center" aria-current="true" [routerLink]="['/vinculacion/home-validation']">
      <p class="mb-1"> Validaciones</p>
    </a>
    <a class="list-group-item list-group-item-action text-center" aria-current="true" >
      <p class="mb-1"> Seguridad</p>
    </a>
    <a class="list-group-item list-group-item-action list-group-item-secondary text-center" aria-current="true" [routerLink]="['/vinculacion/home-configuracion']">
      <p class="mb-1"> Configuración</p>
    </a>
  </div>
</div>
