<nav class="menu__side">
  <a class="name__page" [routerLink]="['/vinculacion']">
    <img title="" class="logo" src="assets/img/logo_upeu_1.png" alt="Logo UPEU">
  </a>
  <ul class="options__menu">

   <li>
     <a class="option"  >
       <i class="fa-solid fa-magnifying-glass fa-fade" title="buscar"></i>
       <h4>BUSCAR</h4>
     </a>
    </li>

    <li>
     <a class="option" >
       <i class="fa-solid fa-inbox" title="inbox"></i>
       <h4>INBOX</h4>
     </a>
    </li>

    <li>
     <a class="option" >
       <i class="fa-solid fa-paperclip" title="more"></i>
       <h4>MORE</h4>
     </a>
    </li>

    <hr>
     <li>
     <a class="option">
       <i class="fa-solid fa-bars-progress" title="gestion" [routerLink]="['/vinculacion/home-coordinacion/gestionarProyeccion/gestionar']"></i>
       <h4>GESTIONAR PROYECCIONES</h4>
     </a>
    </li>

    <li>
     <a class="option">
       <i class="fa-solid fa-chart-line" title="actividades"></i>
       <h4>ACTIVIDADES</h4>
     </a>
    </li>

    <li>
     <a class="option">
       <i class="fa-solid fa-person-running" title="participantes"></i>
       <h4>PARTICIPANTES</h4>
     </a>
    </li>

   <li>
     <a class="option" >
       <i class="fa-solid fa-glasses" title="evaluarpro"></i>
       <h4>EVALUAR PROYECTOS</h4>
     </a>
   </li>
   <li>
     <a class="option" >
       <i class="fa-solid fa-clock" title="horas"></i>
       <h4>ASIGNAR HORAS</h4>
     </a>
   </li>
   <li>
     <a class="option">
       <i class="fa-regular fa-clipboard" title="reporte"></i>
       <h4>REALIZAR REPORTES</h4>
     </a>
   </li>
  </ul>
</nav>
