.container-header {
  width: calc(100vw - 15%);
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

.show {
  margin-left: 75px !important;
}

.large {
  margin-left: 240px;
}

.container-sidebar-large {
  width: 240px;
}

.container-sidebar-short {
  width: 75px;
}


.container-sidebar {
  z-index: 2;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

.main {
  height: calc(100vh - 80px);
  margin-top: 80px;
  margin-left: 240px;
  padding: 10px;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

@media screen and (max-width : 600px) {


  .container-sidebar {
    margin-top: 80px;
    left: -240px;
  }

  .show {
    margin-left: 0px !important;
  }

  .large {
    margin-left: 0px;
  }

  .container-sidebar-short {
    width: 100%;
    left: 0px;
  }
}
