<nav class="menu__side">
  <a class="name__page" [routerLink]="['/vinculacion']">
    <img title="" class="logo" src="assets/img/logo_upeu_1.png" alt="Logo UPEU">
  </a>
   <ul class="options__menu">

    <li>
      <a class="option"  >
        <i class="fa-solid fa-magnifying-glass fa-fade" title="buscar"></i>
        <h4>BUSCAR</h4>
      </a>
     </li>

     <li>
      <a class="option" >
        <i class="fa-solid fa-inbox" title="inbox"></i>
        <h4>INBOX</h4>
      </a>
     </li>

     <li>
      <a class="option" >
        <i class="fa-solid fa-paperclip" title="more"></i>
        <h4>MORE</h4>
      </a>
     </li>

     <hr>
      <li>
      <a class="option">
        <i class="fa-solid fa-bars-progress" title="gestionarFacultad"></i>
        <h4>GESTIONAR FACULTAD</h4>
      </a>
     </li>

     <li>
      <a class="option">
        <i class="fa-solid fa-bars-progress" title="gestionarEscuela"></i>
        <h4>GESTIONAR ESCUELA</h4>
      </a>
     </li>

     <li>
      <a class="option">
        <i class="fa-solid fa-bars-progress" title="gestionarSemestre"></i>
        <h4>GESTIONAR SEMESTRE</h4>
      </a>
     </li>

     <li>
      <a class="option">
        <i class="fa-solid fa-bars-progress" title="gestionarCiclo"></i>
        <h4>GESTIONAR CICLO</h4>
      </a>
     </li>

     <li>
      <a class="option">
        <i class="fa-solid fa-bars-progress" title="gestionarCurso"></i>
        <h4>GESTIONAR CURSO</h4>
      </a>
     </li>

     <li>
      <a class="option">
        <i class="fa-solid fa-bars-progress" title="gestionDocenteCurso"></i>
        <h4>GESTIONAR DOCENTE Y CURSOS</h4>
      </a>
     </li>
    </ul>
 </nav>
