<nav class="menu__side">
  <a class="name__page" [routerLink]="['/vinculacion']">
    <img title="" class="logo" src="assets/img/logo_upeu_1.png" alt="Logo UPEU">
  </a>
  <ul class="options__menu">

   <li>
     <a class="option"  >
       <i class="fa-solid fa-magnifying-glass fa-fade" title="buscar"></i>
       <h4>BUSCAR</h4>
     </a>
    </li>

    <li>
     <a class="option" >
       <i class="fa-solid fa-inbox" title="inbox"></i>
       <h4>INBOX</h4>
     </a>
    </li>

    <li>
     <a class="option" >
       <i class="fa-solid fa-paperclip" title="more"></i>
       <h4>MORE</h4>
     </a>
    </li>

    <hr>
     <li>
     <a class="option">
       <i class="fa-solid fa-bars-progress" title="ejecutar-proyecciones"></i>
       <h4>EJECUTAR PROYECCIONES</h4>
     </a>
    </li>
    <li>
     <a class="option">
       <i class="fa-solid fa-chart-line" title="gestionar-asistencias"></i>
       <h4>GESTIONAR ASISTENCIAS</h4>
     </a>
    </li>
  </ul>
</nav>
